/* --------------- base styling --------------- */

* {
	box-sizing: border-box;
}

img,
video {
	max-width: 100%;
}

html {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #434545;
}

a:hover {
	color: #7acfd6;
}

p,
blockquote {
	line-height: 1.4rem;
	margin: 0.5rem 0;
}

h1 {
	margin: 1.25rem 0;
	font-size: 2.25rem;
	line-height: 1.2em;
}

h2 {
	margin: 2rem 0;
	font-size: 1.75rem;
	line-height: 1.2em;
}

h3 {
	font-size: 1.2rem;
	margin: 0rem 0;
	padding-bottom: 0;
	line-height: 1.4em;
}


/* --------------- header --------------- */

nav {
	z-index: 5;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	align-items: center;
	padding: 1rem;
	min-height: 5rem;
	right: 0;
	left: 0;
	top: 0;
}

.site-nav a {
	text-decoration: none;
	color: #57585a;
	padding: 0.5rem;
}

.site-nav a:last-of-type {
	/* removes right padding of last item in nav */
	padding-right: 0rem;
}

.site-nav a:hover {
	color: #7acfd6;
	transition: color 0.4s;
}

#logo-website {
	display: flex;
	align-items: flex-end;
}

#logo-website a {
	/* styling for logo text */
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	color: #7acfd6;
	text-decoration: none;
}

#logo-website span {
	/* overrides brand color on "colmar" in nav */
	color: #e0474c;
	font-weight: 300;
}

#logo-website img {
	height: 3rem;
}


/* --------------- main --------------- */


/* hero */

.hero {
	background-color: #e0474c;
	display: flex;
	align-items: center;
	padding-top: 80px;
}

.hero img {
	max-width: 60%;
	padding: 2rem;
}

.hero h1 {
	color: #ffffff;
}

.hero-content {
	max-width: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 2rem;
	margin-left: 1rem;
}

.hero-content a {
	/* button in hero */
	color: white;
	border: 2px solid #ffffff;
	padding: 0.6rem;
	text-align: center;
	text-decoration: none;
}

.hero-content a:hover {
	background-color: #7acfd6;
	transition: background-color 0.4s;
}

.hero-content p {
	/* p-tag in hero */
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: 1.25rem;
	line-height: 1.5
}


/* feature */

.features {
	display: flex;
}

.features h2 {
	color: #e0474c;
}

.features blockquote {
	color: #7acfd6;
}

.feature-main {
	flex-basis: 60%;
	padding: 2rem;
}

.feature-grid {
	flex-basis: 40%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.feature {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.feature:hover {
	background-color: #7acfd6;
	transition: background-color 0.4s;
}

.feature a:hover {
	color: #e0474c;
	transition: color 0.4s;
}

.feature:first-child {
	/* aligns first item with main content */
	margin-top: 1rem;
}

.feature img,
.feature div {
	align-self: flex-start;
}

.feature div {
	flex-basis: 65%;
}

.feature img {
	max-width: 35%;
	padding-right: 1rem;
}

.feature a {
	text-decoration: none;
	color: inherit;
	padding: 0.5rem 0.5rem 0.5rem 0;
}

.caption {
	/* byline and link styling  */
	margin-top: 2rem;
	font-size: .75rem;
}


/* cards */

.cards-container,
.feature-container {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	padding-bottom: 4rem;
}

.cards-container h2,
.feature-container h2 {
	text-align: center;
	padding: 1rem 0;
}

.card-content h3 {
	color: #7acfd6 !important;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* centers cards on device with equal padding */
	margin-left: 4rem;
	margin-right: 4rem;
}

.card:hover {
	color: #fff;
	background-color: #e0474c;
	transition: background-color 0.5s;
}

.card {
	margin-bottom: 2rem;
	background-color: #fff;
	flex-basis: 30%;
	flex-grow: 1;
}

.card {
	margin-left: 1rem;
	margin-right: 1rem;
}

.card-content {
	padding: 1rem;
}

.subhead {
	text-transform: uppercase;
	letter-spacing: .05rem;
	font-size: 0.85rem;
	color: #57585a;
}


/* feature exhibit (custom adjustments to feature-module for exhibit-section) */

.feature-container {
	background-color: #fff;
}

.feature-container h2 {
	margin-bottom: 0;
}

.feature-main h3 {
	margin-top: 1rem;
}


/* --------------- footer --------------- */

footer {
	display: flex;
	font-size: 0.75rem;
	padding: 0 1.5rem;
	border-top: 1px solid #ddd;
}

footer p:first-of-type {
	flex-grow: 1;
}

footer a:last-of-type {
	padding-left: 1rem;
}

footer a {
	text-decoration: none;
	color: inherit;
}


/* --------------- @media --------------- */

@media only screen and (max-width: 600px) {
	.desktop {
		/* hides all desktop content */
		display: none;
	}
	h1 {
		margin-top: 1.75rem;
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	/* header-mobile */
	#logo-website {
		display: none;
	}
	.site-nav-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 100%;
	}
	/* hero mobile */
	.hero {
		flex-direction: column;
	}
	.hero img {
		max-width: 100%;
		padding: 0;
	}
	.hero-content {
		max-width: 100%;
		margin: 0;
		padding: 0 1rem 1rem 1rem;
		text-align: center;
	}
	.hero-content a {
		padding: 1rem;
		margin-top: 0.5rem;
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}
	.hero-content p {
		margin-bottom: 1.2rem;
		font-size: 1rem;
		line-height: 1.5;
	}
	/* feature mobile */
	.feature:first-child {
		margin-top: 0rem;
	}
	.feature-grid {
		flex-basis: 100%;
	}
	.feature img {
		max-width: 100%;
		padding-right: 0;
	}
	.feature {
		display: flex;
		flex-direction: column;
		padding-bottom: 1.5rem;
	}
	.feature h3 {
		margin: 1rem 0 0.8rem 0;
	}
	.caption {
		/* styles small text under paragraphy, main feature */
		margin-top: 2rem;
		font-size: .85rem;
	}
	/* cards-mobile */
	.cards-mobile {
		text-align: center;
		margin-top: 3.5rem;
		width: 100%;
	}
	.cards-mobile h4 {
		background-color: #eee;
		padding: 1rem;
		margin: 0.65rem 1rem;
	}
	.cards-mobile h4:hover {
		color: #fff;
		background-color: #e0474c;
		transition: background-color 0.5s;
	}
	/* feature exhibit */
	.feature-main {
		flex-grow: 1;
		margin: 1rem;
		padding: 0;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	/* minor adjustments for mid-range devices */
	html {
		font-size: 13px;
	}
	h1 {
		margin: 1.2rem 0;
		font-size: 2rem;
		line-height: 1.2em;
	}
	.hero-content p {
		margin-bottom: 1.2rem;
		font-size: 1.1rem;
		line-height: 1.5;
	}
}


/*.desktop h3 {
  color: #e0474c;
}

.desktop blockquote {
  color: #7acfd6;
} */

@media only screen and (min-width: 601px) {
	[class*="mobile"] {
		display: none;
	}
}

.desktop h3 {
	color: #e0474c;
}

.desktop blockquote {
	color: #7acfd6;
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 2.65rem;
	}
	.hero-content {
		max-width: 25rem;
	}
	.hero-content a {
		/* styling for button in banner */
		font-size: 1.25rem;
	}
	.hero-content p {
		font-size: 1.5rem;
	}
}

.desktop h3 {
	color: #e0474c;
}

.desktop blockquote {
	color: #7acfd6;
}
